/* Global styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  background-color: aqua;
  color: rgb(1, 8, 99);
  justify-content: center;
  text-align: center;
  padding: 20px;
}

h1 {
  justify-content: center;
  margin: auto; /* Center the header */
}

main {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  padding: 20px;
}

.fish-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: auto;
}

.location-list {
  box-sizing: border-box;
}

.locations {
  box-sizing: border-box;
  padding: 10px;
  margin: 20px;
  font-size: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#location {
  background-color: aliceblue;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  margin: 20px;
}

.overall-fish {
  justify-content: center;
}

#fc-header {
  display: flex;
  flex-wrap: nowrap;
}

aside {
  background-color: rgb(25, 110, 82);
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.aside-tips {
  width: 200px;
}

.tips {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

#tip {
  margin: 10px;
}

.lc-tips{
    display: flex;
    flex-wrap: wrap;
}

#lc-tip {
  width: 150px;
  padding: 10px;
  margin: 10px;
}

section {
  width: auto;
  background-color: rgb(58, 201, 154);
  padding: 20px;
  box-sizing: border-box;
}

div {
  justify-content: center;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 10px;
}

.fish__cards {
  justify-content: center;
  align-content: center;
  display: flex;
  flex-wrap: wrap;
}
.fish__card {
  background-color: aqua;
  justify-content: center;
}

.fish__image {
  width: 100px;
  border-radius: 10%;
}

.fish__species .fish__name .fish__length .fish__location .fish__diet {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}
